@model ViewModelBai7


<form asp-action="Add" asp-route-bai7Id="@ViewBag.Bai7Id" method="post">
    <h2>Thêm Sản Phẩm</h2>
    <hr />
    <div class="form-group">
        <label>Số Phiếu Nhập</label>
        <input asp-for="Bai7.So_Phieu_Nhap_Kho" class="form-control" readonly />
        <span asp-validation-for="Bai7.So_Phieu_Nhap_Kho" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Kho</label>
        <input asp-for="Bai7.Kho_ID" class="form-control" readonly />
        <span asp-validation-for="Bai7.Kho_ID" class="text-danger"></span>
    </div>

    <div class="form-group pb-2">
        <label>Nhà cung cấp</label>
        <input asp-for="Bai7.NCC_ID" class="form-control" readonly />
        <span asp-validation-for="Bai7.NCC_ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ngày Nhập</label>
        <input asp-for="Bai7.Ngay_Nhap_Kho" class="form-control" readonly />
        <span asp-validation-for="Bai7.Ngay_Nhap_Kho" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Sản Phẩm</label>
        <select asp-for="Bai7_2.San_Pham_ID" asp-items="@ViewBag.SPList" class="form-control">
            <option disabled selected>==Chọn loại sản phẩm==</option>
        </select>
        <span asp-validation-for="Bai7_2.San_Pham_ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Số Lượng</label>
        <input asp-for="Bai7_2.SL_Nhap" class="form-control" />
        <span asp-validation-for="Bai7_2.SL_Nhap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Đơn Giá</label>
        <input asp-for="Bai7_2.Don_Gia_Nhap" class="form-control" />
        <span asp-validation-for="Bai7_2.Don_Gia_Nhap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ghi Chú</label>
        <input asp-for="Bai7.Ghi_Chu" class="form-control" readonly />
        <span asp-validation-for="Bai7.Ghi_Chu" class="text-danger"></span>
    </div>
    <!-- Gửi lại bai7Id dưới dạng trường hidden -->
    <input type="hidden" name="bai7Id" value="@ViewBag.Bai7Id" />
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" asp-route-bai7Id="@ViewBag.Bai7Id" class="btn btn-secondary">Back to List</a>
</form>

