@model BaiTap7_2
<form asp-action="DeleteConfirmed" asp-route-idSP="@ViewBag.idSP" asp-route-bai7Id="@ViewBag.Bai7Id" method="post">
    <input type="hidden" asp-for="Id" />
    <h2>Xác nhận xóa</h2>
    <hr />
    <div class="form-group">
        <label>Mã Sản Phẩm</label>
        <input asp-for="sanpham.Ma_San_Pham" disabled class="form-control" />
    </div>
    <div class="form-group">
        <label>Tên Sản Phẩm</label>
        <input asp-for="sanpham.Ten_San_Pham" disabled class="form-control" />
    </div>
    <button type="submit" class="btn btn-danger"> Delete </button>
    <a asp-action="Index" asp-route-bai7Id="@ViewBag.Bai7Id" class="btn btn-secondary">Back to List</a>
</form>
