@model ViewModelBai7


<form asp-action="AddPhieu" method="post">
    <h2>Thêm Phiếu Nhập</h2>
    <hr />
    <div class="form-group">
        <label>Số Phiếu Nhập</label>
        <input asp-for="Bai7.So_Phieu_Nhap_Kho" class="form-control" />
        <span asp-validation-for="Bai7.So_Phieu_Nhap_Kho" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Kho</label>
        <select asp-for="Bai7.Kho_ID" asp-items="@ViewBag.KhoList" class="form-control">
            <option disabled selected>==Chọn Kho==</option>
        </select>
        <span asp-validation-for="Bai7.Kho_ID" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Nhà cung cấp</label>
        <select asp-for="Bai7.NCC_ID" asp-items="@ViewBag.NCCList" class="form-control">
            <option disabled selected>==Chọn nhà cung cấp==</option>
        </select>
        <span asp-validation-for="Bai7.NCC_ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ngày Nhập</label>
        <input asp-for="Bai7.Ngay_Nhap_Kho" class="form-control" />
        <span asp-validation-for="Bai7.Ngay_Nhap_Kho" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ghi Chú</label>
        <input asp-for="Bai7.Ghi_Chu" class="form-control" />
        <span asp-validation-for="Bai7.Ghi_Chu" class="text-danger"></span>
    </div>
    
    <div class=" text-right">
        <button type="submit" class="btn btn-primary"> Save </button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
